<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614592542726-i1t46ckl3r49ib8kj2an45kjmlth5iah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614592542726-i1t46ckl3r49ib8kj2an45kjmlth5iah</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>614592542726-0s6c4k5mpdp04e6k1qdn7hvod1tq14rt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtHak-Kx_6Jmb-WxKZbvLvezyL_K5Cjck</string>
	<key>GCM_SENDER_ID</key>
	<string>614592542726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.hackpsu</string>
	<key>PROJECT_ID</key>
	<string>hackpsu18-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>hackpsu18-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614592542726:ios:7b77593102f1f2257c6b87</string>
	<key>DATABASE_URL</key>
	<string>https://hackpsu18-staging.firebaseio.com</string>
</dict>
</plist>